# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
*.iml
.idea/
local.properties

# OS
.DS_Store
Thumbs.db

# Kotlin
*.kotlin_module

# APK/AAB
*.apk
*.aab
*.ap_
*.dex

# Test
/captures
.externalNativeBuild
.cxx
